__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

.venv/
venv/
.python-version

*.pckl

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

.idea/
.vscode/
.DS_Store
